<div class="container">
    
    <div class="row text-center text-lg-left">
        <!-- 360px -->
        <div class="col-lg-6 col-md-6 col-12 benefits-brief">
            <img class="img-fluid img-thumbnail" src="/assets/images/benefits-retail.png" alt="Cycling benefits to retail">
        </div>
        <!-- 360px -->
        <div class="col-lg-6 col-md-6 col-12 benefits-brief">
            <img class="img-fluid img-thumbnail" src="/assets/images/benefits-highst.png" alt="Cycling benefits in High St visits">
        </div>
        <!-- 240px -->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 benefits-brief">
            <img class="img-fluid img-thumbnail" src="/assets/images/benefits-productivity.png" alt="Cycling benefits to productivity">
        </div>        
        <!-- 240px -->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 benefits-brief">
            <img class="img-fluid img-thumbnail" src="/assets/images/benefits-bid.png" alt="Cycling benefits attested by BID">
        </div>      
        <!-- 240px -->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 benefits-brief">
            <img class="img-fluid img-thumbnail" src="/assets/images/benefits-freight.png" alt="Cycling freight advantages">
        </div>
        <!-- 360px -->
        <div class="col-lg-6 col-md-6 col-12 benefits-brief">
            <img class="img-fluid img-thumbnail" src="/assets/images/benefits-health.png" alt="Cycling benefits to health">
        </div>
        <!-- 360px -->
        <div class="col-lg-6 col-md-6 col-12 benefits-brief">
            <img class="img-fluid img-thumbnail" src="/assets/images/benefits-congestion.png" alt="Cycling benefits to congestion">
        </div>
        <div><p>&nbsp;</p></div>
    </div>
  
</div>