<div class="container">
    
    <div class="row text-center text-lg-left">
        {% assign founders = site.data.orgs.orgs | where: "founding", "true" %}
        {% assign nonfounders = site.data.orgs.orgs | where: "founding", "false" %}
        <!-- Founders in alphabetical order (manually sorted in YAML file) -->
        {% for org in founders %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">

                <a href="{{org.website}}" class="logo-card mb-4 h-100">
                    <span class="founder">{% if org.founding %}Founding signatory{% endif %}</span>
                    <span class="orgtitle">{{org.title}}</span>
                    <div class="logo-wrapper">
                        <img class="img-fluid img-thumbnail logo" src="/assets/images/{{org.logo}}" alt="">
                    </div>
                </a>
            </div>
        {% endfor %}
        <!-- Non-founders in order of sign-up, most recent first -->
        {% for org in nonfounders | sort: "dt"  %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">

                <a href="{{org.website}}" class="logo-card mb-4 h-100">
                    <span class="orgtitle">{{org.title}}</span>
                    <div class="logo-wrapper">
                        <img class="img-fluid img-thumbnail logo" src="/assets/images/{{org.logo}}" alt="">
                    </div>
                </a>
            </div>
        {% endfor %}

    </div>
  
</div>