<div id="map">
</div>


<script>
    // create the map object and set the coordinates of the initial view:
    var map = L.map('map').setView([51.06143279989087, -1.3102797005169071], 13);
    var wards = {{ site.data.wards.wards | jsonify }};

    const fontAwesomeIcon = L.divIcon({
        html: '<i class="fas fa-map-marker-alt fa-3x"></i>',
        iconSize: [20, 20],
        className: 'myDivIcon'
    });


    
    // create the tile layer with correct attribution:
    L.tileLayer('https://tile.thunderforest.com/neighbourhood/{z}/{x}/{y}.png?apikey=e66105b058184c0ba7d38c736145e28e', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18
    }).addTo(map);

    // add a marker for each ward
    for (var ward in wards) {
        w = wards[ward];
        var icon = L.divIcon({
            iconSize:null,
            html:'<div class="map-label"><div class="map-label-content">'+w['name']+'<br/><div class="map-label-counts">'+w['orgs']+' <i class="far fa-building"></i>  '+w['inds']+' <i class="far fa-user"></i></div></div></div>'});
        // L.marker(w['pos']).addTo(map);
        L.marker(w['pos'],{icon:icon}).addTo(map);
    };

    // fetch boundaries from static file
    var initBoundaries = {method: 'GET', 
        headers: {'Content-Type': 'application/json'},
        mode: 'cors',
        cache: 'default'}
    let myBoundariesReq = new Request("/assets/js/winchester.geojson", initBoundaries);
    fetch(myBoundariesReq).then(
        function(resp) {
            return resp.json();
        }).then(
            function(boundaries) {
                L.geoJSON(boundaries).addTo(map);
            });
</script>
