<!-- supporters -->
<div class="supporters">
    <h3>Some organisations who have recently supported the Charter</h3>
        <p>* = founding signatories.</p>
        <ul>
            {% assign orgs = site.data.orgs.orgs | sort: "dt" %}
            {% for org in orgs reversed limit:20 %}
                <li>
                    <a href="{{org.website}}">
                        {{ org.title }}{% if org.founding %}<sup>*</sup>{% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
</div>