
<div class='social-buttons'>
    <div class="row"> 
        <div class='col-lg-3 col-md-3 col-sm-12'>
            <a class="share-btn-twitter"
                rel="noopener"
                target="_blank"
                href="https://twitter.com/intent/tweet?url={{ site.url }}/charter&text={{ page.sharetext }}&via=cyclewin&hashtags=winchester,cycling">
                <button type="button" class="btn btn-twitter btn-lg ">
                    <i class="fab fa-twitter"></i>
                    <span class=btntext>Tweet</span>
                </button>
            </a>
        </div>
        <div class='col-lg-3 col-md-3 col-sm-12'>
            <a class="share-btn-facebook"
                rel="noopener"
                target="_blank"
                href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}/charter&display=popup">
                <button type="button" class="btn btn-facebook btn-lg">
                    <i class="fab fa-facebook"></i>
                    <span class=btntext>Share</span>
                </button>
            </a>
        </div>
        <div class='col-lg-3 col-md-3 col-sm-12'>
            <a class="share-btn-whatsapp"
                rel="noopener"
                target="_blank"
                href="https://api.whatsapp.com/send?text={{ page.sharetext }} {{ site.url }}/charter">
                <button type="button" class="btn btn-whatsapp btn-lg">
                    <i class="fab fa-whatsapp"></i>
                    <span class=btntext>Whatsapp</span>
                </button>              
            </a>

        </div>
        <div class='col-lg-3 col-md-3 col-sm-12'>
            <a class="share-btn-email"
                rel="noopener"
                target="_blank"
                href="mailto:?subject='Winchester Cycling Charter'&body={{ page.sharetext }} {{ site.url }}/charter">
                <button type="button" class="btn btn-email btn-lg">
                    <i class="far fa-envelope"></i>
                    <span class=btntext>Email</span>
                </button>
            </a>
        </div>
    </div>
</div>

