<!-- supporters -->
<div class="supporters">
    <h3>Some {{ page.thisname }}s who have supported the Charter</h3>
    {% if page.thisname == "Organisation" %}
        <p>* = founding signatories.</p>
        <ul>
            {% for org in site.data.orgs.orgs %}
                <li>
                    <a href="{{org.website}}">
                        {{ org.title }}{% if org.founding %}<sup>*</sup></sup>{% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <ul>
            {% for person in site.data.people.people %}
            <li>
                {{ person.firstname }} {{ person.lastname }}{% if person.founding %}<sup>*</sup></sup>{% endif %}
            </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>