
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    {% seo %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="container-fluid narrowed">
      <hr/>
        <div class="container-fluid narrowed">
        {% include navbar.html %}
          <h1>Winchester Cycling Charter</h1>
          <table style="width:100%"></table>
          {{ content}}
          {% include footer.html %}
        </div>
      </div>
    </div>
  </body>
</html>
