
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    {% seo %}
  </head>
  <body>
    
    <div class="container-fluid">
      <div class="container-fluid narrowed" id="narrowed-1 ">
      <hr/>
        <div class="container-fluid narrowed" id="narrowed-2">
        {% include navbar.html %}
          <h1>Winchester <span id=cycling-bold>Cycling</span> Charter</h1>
          <h2>{{ page.title }}</h2>
          <div class="row">

              <!-- left-hand column contains the contact form -->
              <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 lhcol">
                <div class="support-form-outer">
                <h3>{{ page.thisname }} support form</h3>
                <p>Please complete this form to confirm your 
                  {% if page.thisname == "Organisation" %}
                  organisation's 
                  {% endif %}
                  support for the Winchester Cycling Charter. 
                </p>
                <p>
                  The names of organisations and individuals who have signed the Charter will be published on this website. 
                  Your email address will not be displayed. We will use your email address to confirm your support. 
                  Only if you opt-in to updates by ticking the box below, will we send you subsequent email updates about the Charter. 
                  You can read our full privacy policy <a href="{{ site.url }}/faqs/privacy-policy" >here</a>.
                </p>
                  <form id="support-form" action="https://europe-west2-winchestercyclingcharter.cloudfunctions.net/catch_form" method="post">
                    <fieldset>
                      <legend>Your details</legend>
                      <div class="form-group required">
                        <label for="FirstName" class='control-label'>First name</label>
                        <input type="text" class="form-control" name="firstName" id="FirstName1" placeholder="" required="true">
                      </div>
                      <div class="form-group required">
                        <label for="LastName" class='control-label'>Last name</label>
                        <input type="text" class="form-control" name="lastName" id="LastName1" placeholder="" required="true">
                      </div>
                      <div class="form-group required">
                        <label for="Email" class='control-label'>Email</label>
                        <input type="email" class="form-control" name="email" id="Email1" aria-describedby="emailHelp" placeholder="name@example.com" required="true">
                      </div>
                      <div class="form-group">
                        <label for="Postcode" class='control-label'>Postcode</label>
                        <input type="text" class="form-control" name="postcode" id="Postcode1" required="false">
                      </div>
                      <div class="form-group">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" name="emailOptIn" id="inlineCheckbox1" value="yes">
                          <label class="form-check-label" for="inlineCheckbox1">Tick if you'd like to receive email updates from us about the charter.</label>
                        </div>
                      </div>
                    </fieldset>

                    {% if page.thisname == "Organisation" %}
                      <fieldset>
                        <legend>Your organisation</legend>
                        <div class="form-group required">
                          <label for="Organisation" class='control-label'>Name</label>
                          <input type="text" class="form-control" name="organisation" id="Organisation1" placeholder="" required="true">
                        </div>
                        <div class="form-group">
                          <label for="OrgWebsite" class='control-label'>Website</label>
                          <input type="text" class="form-control" name="orgWebsite" id="OrgWebsite1" placeholder="">
                        </div>
                        <div class="form-group">
                          <label for="Role">Your role in the organisation</label>
                          <input type="text" class="form-control" name="role" id="Role1" placeholder="">
                        </div>
                      </fieldset>
                    {% endif %}

                    <div class="form-group">
                      <div class="g-recaptcha" data-sitekey="6Lco1t0ZAAAAAINbksPHbipS4RxuzIOnFqtnpzPM" data-expired-callback="expiredRecaptchaCallback" data-callback="verifyRecaptchaCallback"></div>
                      <input class="form-control d-none" data-recaptcha="true" required="true" data-error="Please confirm you are not a robot">
                      <div class="help-block with-errors"></div>
                    </div>
                    <input type="hidden" id="nextPage" name="nextPage" value="{{site.url}}/thanks">
                    <input type="submit" class="btn btn-success btn-send" name="button" value="Sign the Charter">
                  </form>
                </div>
                {{ content }}
              </div>

              <!-- rh column allows switching to the other type (org/ind), and lists supporters -->
              <div class="col rhcol">
                
                <!-- switch -->
                <div class="switchtype">
                  <h3>{{ page.theothername}} support </h3>
                  <p>I would like to sign as an <a href="{{ page.theotherpage }}"> {{ page.theothername }}</a></p>
                </div>

                <!-- supporters -->
                <div class="supporters">
                  <h3>Some {{ page.thisname }}s who have supported the Charter</h3>
                    {% if page.thisname == "Organisation" %}
                      <ul class="gallery">
                        {% for org in site.data.orgs.orgs %}
                          <li><img src="/assets/images/{{ org.logo }}" alt="{{ org.title }}"/></li>
                        {% endfor %}
                      </ul>
                    {% else %}
                      <ul>
                        {% for person in site.data.people.people %}
                          <li>{{ person.firstname }} {{ person.lastname }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                </div>
              </div>
            </div>
          {% include footer.html %}
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    <script src="/assets/js/contact.js"></script>
    <script src="/assets/js/validator.js"></script>
  </body>
</html>
